#myWeatherApp {
	display: none;
}

* {
	align-items: center;
	max-width = 800;
}

body {
	display: flex;
	max-width: 300px;
	/* align-items: center; */
	font-weight: bolder;
	flex-direction: column;
	justify-content: flex-start;
	outline: 1px solid black;
}

#top-area {
	align-items: center;
	outline: 1px solid black;
	padding: 0 0 10px 10px;
}

#mid-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#zipCode {
	color: black;
	height: 15px;
	width: 160px;
	margin: 20px 20px 0 20px;
	outline: 1px solid green;
	background-color: white);
}

#submit {
	outline: 1px solid green;
	border-radius: 5px;
}

#city {
	font-style: italic;
}
<script>

#temp {
	color: blue;
	font-size: 70px;
}
</script>

#forecast {

}

#btm-section {
	display: flex;
	max-width: 300px;
	flex-direction: row;
	align-items: center;
	font-weight: bolder;
	justify-content: space-around;
}

section {
	width: 80px;
}