* {
	box-sizing: border-box;
}

:root {
	font-family: "Raleway", Arial, sans-serif;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px;
}

header {
	max-width: 1200px;
	margin: 0 auto 0 auto;
	padding: 10px 10px 30px 10px;
	text-align: center;
	font-size: 3rem;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#worm {
	margin-top: 30px;
	max-height: 80px;
}

#zipColumn {
	padding: 20px 0 20px 0;
	height: 40px;
	line-height: 40px;;
}

#zipCode {
	margin-top: 10px;
	height: 50px;
	font-size: 20px;
}

button {
	margin-top: 65px;
	margin-left: 10px;
	background-color: black;
	color: white;
	height: 35px;
	width: 60px;
	border-radius: 20px;
}

.top-area {
	transition: .5s ease-in-out;
}

form {
	display: flex;
	justify-content: center;
	text-align: center;
}

label {
	display: block;
	padding-bottom: 1px;
}

h1 {
	height: 200px;
	font-size: 8rem;
	margin-top: 0;
	margin-bottom: 30px;
}

#forecast {
	font-size: 3rem;
	margin-top: 20px;
	padding: 20px;
}

#hidden-content {
	text-align: center;
}

#btm-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 3rem;
	line-height: 2px;
}

#min-temp2,
#max-temp2 {
	font-size: 1rem;
	line-height: 2px;
	color: blue;
}

#min-temp,
#max-temp {
	font-size: 2.5rem;
	line-height: 2px;
}

.column {
	display: block;
}

.hidden {
	display: none;
}
